.box-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    border: 2px solid #000;
    box-shadow: 10px 30px 100px 9px;
}
.img-1{
    display: flex;
    justify-content: center;
    width: 1900px;
    height: 40px;
}
.img-1{
    width: 1400px;
}
#link{
    text-decoration: none;
}
.btn{
    width: 110px;
    height: 30px;
    color: saddlebrown;
    border-radius:7px;
    color: aliceblue;
    background-color: darkorange;
    border:none;
    box-shadow: 10px 10px 10px 12px;
}
.btn:hover {
    width: 110px;
    height: 30px;
    border-radius:7px;
    color: darkorange;
    background-color: aliceblue;
    border: 2px solid black;
    box-shadow: -10px -10px 10px 12px;
    cursor: pointer;
    
}